<nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="navbar-brand">
  
        <!-- <div class="navbar-start"> -->
        <!-- <div class="columns"> -->
        
        <a class="navbar-item">
          <div class="menu-icon-wrapper left-menu-icon-wrapper" style="visibility: visible;">
            <svg width="1000px" height="1000px">
              <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
              <path class="path2" d="M 300 500 L 700 500"></path>
              <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
            </svg>
            <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
          </div>
          <div class="navbar-item left-menu-icon-wrapper">
            {{ i18n "tags" }}
          </div>
        </a>
  
        <div class="navbar-item is-expanded"></div>
        <a class="navbar-item is-hidden-desktop">  
          <div data-target="cloned-navbar-menu" class="navbar-item right-menu-icon-wrapper is-hidden-desktop">
            {{ i18n "mainMenu" }}
          </div>
          <div data-target="cloned-navbar-menu" class="menu-icon-wrapper right-menu-icon-wrapper" style="visibility: visible;">
            <svg width="1000px" height="1000px">
              <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
              <path class="path2" d="M 300 500 L 700 500"></path>
              <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
            </svg>
            <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
          </div>

        </a>
      </div>
  
      
  
      <div id="cloned-navbar-menu" class="navbar-menu is-static">
        <div class="navbar-end">

          {{ range .Site.RegularPages }}
          {{- if eq .Params.showInMenu true -}}
          <a href="{{- .Permalink | relURL -}}" class="navbar-item is-secondary">
            {{- .Title -}}
          </a>
          {{- end -}}
        {{- end -}}

	<!-- Removed from Here -->

          {{- range .Site.Sections -}}
            {{- if not (eq .Title "singles") -}}
            {{- $secCount := len .Sections -}}
            {{- if (ne $secCount 0) -}}
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="{{- .Permalink | relURL -}}" class="navbar-link">
                {{- .Title -}}
              </a>
              <div class="navbar-dropdown">
                <!-- <a href="{{- .Permalink -}}" class="navbar-item">
                  > All
                </a> -->
                {{- range .Sections -}}
                <a href="{{- .Permalink | relURL -}}" class="navbar-item">
                  {{- .Title -}}
                </a>
                {{- end -}}
              </div>
            </div>
            {{- else -}}
            <a href="{{- .Permalink | relURL -}}" class="navbar-item is-secondary">
              {{- .Title -}}
            </a>
            {{- end -}}
          {{- end -}}
          {{- end -}}

	<!-- Added Here -->

	<a href="https://www.linkedin.com/{{ .Site.Params.footer.linkedin.link }}" target="_blank">&emsp;
	<span class="icon"><i class="fa fa-linkedin"></i></span>
		{{ if isset .Site.Params.footer.linkedin "title" }}
		  {{ .Site.Params.footer.linkedin.title }}
		{{ else }}
		  LinkedIn
		{{ end }}
	</a>
	<a href="https://github.com/{{ .Site.Params.footer.github.link }}" target="_blank">&emsp;
	<span class="icon"><i class="fa fa-github"></i></span>
		{{ if isset .Site.Params.footer.github "title" }}
		  {{ .Site.Params.footer.github.title }}
		{{ else }}
		  Github
		{{ end }}
	</a>
	<a href="mailto:{{ .Site.Params.footer.email.link }}" target="_blank">&emsp;
	<span class="icon"><i class="fa fa-envelope"></i></span>
		{{ if isset .Site.Params.footer.email "title" }}
		  {{ .Site.Params.footer.email.title }}
		{{ else }}
		  Email
		{{ end }}
	</a>

          {{- $home    := .Site.Params.homepage.linkPosition -}}
          {{- if or (eq $home "menu") (eq $home "menu+footer") -}}
            <a href="{{ "/" | relLangURL }}" class="navbar-item is-secondary">&emsp;
              {{- if .Site.Params.homepage.linkText -}}
                {{- print .Site.Params.homepage.linkText -}}
              {{- else -}}
                {{ i18n "homepage" }}
              {{- end -}}
            </a>
          {{- end -}}

        </div>
        </div>
  
  


    </div>
  </nav>
