{{- define "main" -}}

    {{- partial "navbar.html" . -}}
    {{- partial "navbar-clone.html" . -}}

    <section class="section is-medium">
        <div class="container">
          {{/*  <div class="columns">  */}}
            {{/*  <div class="column is-centered-tablet-portrait">  */}}
              <h1 class="title section-title">{{- .Page.Title -}}</h1>
              <h5 class="subtitle is-5 is-muted">{{- .Params.Subtitle -}}</h5>
              <div class="divider"></div>        
              <div class="section is-small">
                {{/*  <div class="container">  */}}
                  {{- $articlesPerRow := .Site.Params.articlesPerRow -}}
                  <div class="columns">
                    {{/*  <div class="container">  */}}
                    {{- range $index, $element := .Pages -}}
                        {{- if and (eq (mod $index $articlesPerRow) 0 ) (not (eq $index 0)) -}}
                          {{/*  </div>  */}}
                          </div>
                          <div class="columns">
                            {{/*  <div class="container">  */}}
                        {{- end -}}
                        {{- partial "single/summary.html" . -}}
                    {{- end -}}
                    {{/*  </div>  */}}
                  </div>
                {{/*  </div>  */}}
              </div>
            {{/*  </div>  */}}
          {{/*  </div>  */}}
        </div>
    </section>
    
    <!-- {{- partial "footer.html" . -}} -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{- partial "sidebar.html" . -}}

{{- end -}}
